.App {
  overflow-x: hidden;
}
.App .bg {
  background-color: hsl(180, 29%, 50%);
}
.App main {
  background-color: hsl(180, 52%, 96%);
  padding: 2rem 1rem;
  height: 260vh;
}
.App main .show {
  display: block;
  padding: 1.2rem 1.2rem 1.2rem 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 8px 8px hsl(180, 31%, 85%);
  position: relative;
  top: -60px;
  z-index: 10;
  margin-bottom: -2.2rem;
}
.App main .show p {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
}
.App main .show p:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: hsl(180, 29%, 50%);
  text-decoration-thickness: 2px;
}
.App main .show .features {
  display: flex;
  flex-direction: row;
}
.App main .details {
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
  padding: 4px 11px;
  font-weight: 700;
  margin-left: 1.2rem;
}
.App main .close {
  background-color: hsl(180, 29%, 50%);
  padding: 4px 6px;
}
.App main .close:hover {
  cursor: pointer;
  background-color: black;
}
@media (max-width: 768px) {
  .App main .close:hover {
    cursor: pointer;
    background-color: black;
  }
}
.App main .hide {
  display: none;
}
.App main .border {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.App main .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 8px 8px hsl(180, 31%, 85%);
  padding: 1rem;
  margin-top: 22px;
}
@media (max-width: 768px) {
  .App main .box {
    display: block;
    width: 94%;
    margin-top: 4.5rem;
    padding-right: 10px;
  }
}
.App main .box .flex {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .App main .box .flex {
    display: block;
  }
}
.App main .box .flex .roundImage img {
  width: 96%;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .App main .box .flex .roundImage img {
    width: 26%;
    margin-top: -60px;
  }
}
.App main .box .flex .text {
  line-height: 5px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .App main .box .flex .text {
    padding-left: 4px;
  }
}
.App main .box .flex .text .name {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 15px;
  padding-right: 8px;
}
@media (max-width: 768px) {
  .App main .box .flex .text .name {
    padding-right: 17px;
  }
}
.App main .box .flex .text .new {
  background-color: hsl(180, 29%, 50%);
  color: white;
  border-radius: 40px;
  padding: 1px 6px;
  font-size: 13px;
}
.App main .box .flex .text .featured {
  color: white;
  border-radius: 40px;
  padding: 1px 6px;
  font-size: 13px;
  background-color: hsl(180, 14%, 20%);
  margin-left: 7px;
}
@media (max-width: 768px) {
  .App main .box .flex .text .featured {
    margin-left: 18px;
  }
}
.App main .box .flex .text h4 {
  font-size: 17px;
  color: hsl(180, 14%, 20%);
}
.App main .box .flex .text h4:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}
@media (max-width: 768px) {
  .App main .box .flex .text .flex {
    border-bottom: 1.5px solid hsl(180, 8%, 52%);
    padding-bottom: 30px;
    padding-top: 5px;
  }
}
.App main .box .flex .text .flex .date {
  font-size: 15px;
  color: hsl(180, 8%, 52%);
  font-weight: 500;
}
.App main .box .flex .text .flex .dot {
  margin-top: -5px;
  font-size: 20px;
  font-weight: 500;
  padding: 0 8px;
  color: hsl(180, 8%, 52%);
}
.App main .box .properties {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .App main .box .properties {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.App main .box .properties > div {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  margin-left: 7px;
  font-size: 15px;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .App main .box .properties > div {
    margin-left: 15px;
    margin-top: 13px;
  }
}
.App main .box .properties > div:not(:last-child) {
  margin-right: 7px;
}
.App main .box .properties > div:hover {
  cursor: pointer;
  background-color: hsl(180, 29%, 50%);
  color: white;
}/*# sourceMappingURL=App.css.map */